@{
    ViewBag.Title = "BaoCaoHoatDong_So";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading text-center">
        <h3 class="panel-title" id="plTitle_So"></h3>
    </div>
    <div class="panel-body">
        <div id="body_dau">
            <div class="row">                
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left:0px; padding-right:5px; text-align:right;">SỞ:</span>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <!--Chọn Sở-->
                        @*<input id="cbbSo_BaoCaoHoatDongSo" class="input-group" style="width:100%; max-width:100000px;" />*@
                        <input id="fabric" placeholder="CHỌN SỞ..." style="width:100%; max-width:100000px;">
                        <input id="hf_fabric" type="hidden">
                    </div>
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-2" style="padding-left:0px; padding-right:5px; text-align:right;">THÁNG:</span>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input id="datepicker_BaoCaoHoatDongSo" class="input-group" style="width:100%; ">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-2" style="padding-left:0px;">
                        <button class="btn btn-primary input-group" id="btnXemBieuDoChayXe_So" style="width:100%;">XEM</button>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" style="text-align: right;">
                    <div class="col-lg-0 col-md-0 col-sm-1 col-xs-2"></div>
                    <div class="col-lg-12 col-md-12 col-sm-11 col-xs-10">
                        <input type="search" id="txtSearch_BaoCaoHoatDong_So" class="k-textbox" style="width:100%;  max-width:100000px;" placeholder="Tìm Kiếm" />
                    </div>
                </div>
            </div>            
            <hr style="margin-bottom:10px;margin-top:10px;" />
            <div class="row" style="padding-bottom:5px;">
                @*<span> TÌM KIẾM THÔNG TIN CHO SỞ:</span>
                <strong> <span id="sp_So_Search"></span> </strong>*@
                <span>ĐÃ CHỌN : </span>
                <span id="spanfabric" style="font-weight:bold;">0</span><span> SỞ</span>  
            </div>
        </div>
    </div>
    <div id="grid_BaoCaoHoatDongSo"></div>
</div>
@section scripts{
    <script src="~/Scripts/BaoCao/gridKendo.js"></script>
    <!--DataSource list-->
    <script>
        var dataBien = @Html.Raw(Json.Encode(ViewBag.BienCuaSo));
        var danhsach_So = @Html.Raw(Json.Encode(ViewBag.List_So));
        console.log(danhsach_So);
    </script>
    <script>
    $(window).resize(function () {
        var gridElement = $("#grid_BaoCaoHoatDongSo");
        otherElementsHeightThongTinXe = $("#body_dau").height() + $(".navbar-fixed-top").height() + 200;
        gridElement.children(".k-grid-content").height($(window).height() - otherElementsHeightThongTinXe);
    });
    $("#datepicker_BaoCaoHoatDongSo").kendoDatePicker({
        dateInput: true,
        start: "year",
        depth: "year",
        format: "MM/yyyy",
        culture: "vi-VN",
        value: kendo.parseDate(new Date()),
    });
    var today = kendo.parseDate(new Date(dataBien.Nam,dataBien.Thang - 1), 'MM/yyyy');
    var datepicker_ThangNam = $("#datepicker_BaoCaoHoatDongSo").data('kendoDatePicker');
    datepicker_ThangNam.value(today);
    
    //    $("#cbbSo_BaoCaoHoatDongSo").kendoComboBox({
    //    dataTextField: "TS_TenTinh",
    //    dataValueField: "TS_IdTinh_So",
    //    dataSource: {
    //        data: danhsach_So,
    //        sort: { field: "TS_IdTinh_So", dir: "asc" }
    //    },
    //    filter: "contains",
    //    suggest: true,
    //    index: 0,
    //});
    //var combobox = $("#cbbSo_BaoCaoHoatDongSo").data("kendoComboBox");
    //combobox.value(dataBien.So);
    //$("#sp_So_Search").html(combobox.text());
    $("#fabric").kendoDropDownList({
        name: "fabric",
        dataTextField: "TS_TenTinh",
        dataValueField: "TS_IdTinh_So",
        dataSource: danhsach_So,
        filter: "contains",
        suggest: true,
        template: "<input type='checkbox' id='chk_fabric_#=data.TS_IdTinh_So #' onclick='UpdateIdinHF(this);' value='#=data.TS_IdTinh_So #' name='fabric' />" + " " + "${ data.TS_TenTinh }",
        close: onClose,
        change: onChange
    });
</script>
    <!--Loại Báo Cáo-->
<script>
        var name = getUrlParameter('name');
        if (name == "a") {
            Panel_Title("plTitle_So", "BÁO CÁO HOẠT ĐỘNG SỞ", "BÁO CÁO TỔNG HỢP");
            var datatest = @Html.Raw(Json.Encode(ViewBag.BaoCaoTongHop_So));
            console.log(datatest);
            BaoCaoHoatDong_BaoCaoTongHop_BaoCaoSo("grid_BaoCaoHoatDongSo", datatest);
            removeitemperpage();
        }
        else if (name == "b") {
            Panel_Title("plTitle_So", "BÁO CÁO HOẠT ĐỘNG SỞ", "BÁO CÁO XE KHÔNG THỰC HIỆN");
            var datatest = @Html.Raw(Json.Encode(ViewBag.BaoCaoTongHop_So));
            console.log(datatest);
            BaoCaoHoatDong_BaoCaoXeKhongThucHien_BaoCaoSo("grid_BaoCaoHoatDongSo", datatest);
            removeitemperpage();
        }
        else if (name == "c") {
            Panel_Title("plTitle_So", "BÁO CÁO HOẠT ĐỘNG SỞ", "BÁO CÁO XE CHẠY KHÔNG ĐÚNG GIỜ");
            var datatest = @Html.Raw(Json.Encode(ViewBag.BaoCaoTongHop_So));
            console.log(datatest);
            BaoCaoHoatDong_BaoCaoXeKhongDungGio_BaoCaoSo("grid_BaoCaoHoatDongSo", datatest);
            removeitemperpage();
        }
        else if (name == "d") {
            Panel_Title("plTitle_So", "BÁO CÁO HOẠT ĐỘNG SỞ", "BÁO CÁO XE THỰC HIỆN 70% SỐ CHUYẾN");
            var datatest = @Html.Raw(Json.Encode(ViewBag.BaoCaoTongHop_So));
            console.log(datatest);
            BaoCaoHoatDong_BaoCaoXeThucHien70_BaoCaoSo("grid_BaoCaoHoatDongSo", datatest);
            removeitemperpage();
        }
        else if (name == "e") {
            Panel_Title("plTitle_So", "BÁO CÁO HOẠT ĐỘNG SỞ", "BÁO CÁO XE KHÔNG VỀ BẾN");
            var datatest = @Html.Raw(Json.Encode(ViewBag.BaoCaoTongHop_So));
            console.log(datatest);
            BaoCaoHoatDong_BaoCaoXeKhongVeBen_BaoCaoSo("grid_BaoCaoHoatDongSo", datatest);
            removeitemperpage();
        }
        else if(name == "undefined"){
            Panel_Title("plTitle_So", "BÁO CÁO HOẠT ĐỘNG SỞ", "BÁO CÁO TỔNG HỢP");
            var datatest = @Html.Raw(Json.Encode(ViewBag.BaoCaoTongHop_So));
            console.log(datatest);
            BaoCaoHoatDong_BaoCaoTongHop_BaoCaoSo("grid_BaoCaoHoatDongSo", datatest);
            removeitemperpage();
        }
    </script>
    <!--Search Event-->
<script>
    $("#txtSearch_BaoCaoHoatDong_So").keyup(function () {
        var selecteditem = $('#txtSearch_BaoCaoHoatDong_So').val();
        var kgrid = $("#grid_BaoCaoHoatDongSo").data("kendoGrid");
        selecteditem = selecteditem.toUpperCase();
        var selectedArray = selecteditem.split(" ");
        if (selecteditem) {
            //kgrid.dataSource.filter({ field: "UserName", operator: "eq", value: selecteditem });
            var orfilter = { logic: "or", filters: [] };
            var andfilter = { logic: "and", filters: [] };
            $.each(selectedArray, function (i, v) {
                if (v.trim() == "") {
                }
                else {
                    $.each(selectedArray, function (i, v1) {
                        //var lengthStr = selecteditem.length;
                        //var strBS = "";
                        //if(lengthStr > 3 && lengthStr < 10 && selecteditem[3] != '-'){
                        //    strBS = [selecteditem.slice(0, 3), "-", selecteditem.slice(3)].join('');
                        //} else {
                        //    strBS = v1;
                        //}

                        if (v1.trim() == "") {
                        } else {
                            orfilter.filters.push({ field: "TenTuyen", operator: "contains", value: v1 });
                            andfilter.filters.push(orfilter);
                            orfilter = { logic: "or", filters: [] };
                        }
                    });
                }
            });
            kgrid.dataSource.filter(andfilter);
        }
        else {
            kgrid.dataSource.filter({});
        }
    });
</script>
    <!--Event Click-->
<script>
    $('#btnXemBieuDoChayXe_So').on('click', function () {
        var name = getUrlParameter('name');
        var thangBatDau = kendo.toString($("#datepicker_BaoCaoHoatDongSo").data('kendoDatePicker').value(), "MM");
        var namBatDau = kendo.toString($("#datepicker_BaoCaoHoatDongSo").data('kendoDatePicker').value(), "yyyy");
        //var So = $("#cbbSo_BaoCaoHoatDongSo").data("kendoComboBox");
        //var IdSo = So.value();
        var IdSo;
        var tt = $("#hf_fabric").val();       
        IdSo = tt;
        var options = {
            type: "POST",
            url: @Html.Raw(Json.Encode(Url.Action("GetBaoCaoHoatDongSo_NhieuSo", "BaoCaoHoatDong"))),
            data: {
                name:name, 
                thang:thangBatDau, 
                nam: namBatDau, 
                so:IdSo
            },
            cache: false,
            dataType: "json",
            //contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response != null) {
                    //$("#sp_So_Search").html(response[0].TenTuyen);
                    //$("#sp_So_Search").html(So.text());
                    var grid = $("#grid_BaoCaoHoatDongSo").data("kendoGrid");
                    dataGrid = new kendo.data.DataSource({
                        data: response,
                        pageSize: 25
                    });
                    grid.setDataSource(dataGrid);
                    grid.dataSource.read();
                    grid.refresh();
                }
            }
        };
        $.ajax(options);
    });
</script>
}