@{
    ViewBag.Title = "BÁO CÁO KHÔNG THỰC HIỆN SỞ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading text-center">
        <h3 class="panel-title" id="plTitle_So"></h3>
    </div>
    <div class="panel-body">
        <div id="body_dau">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left:0px; padding-right:5px; text-align:right;">SỞ:</span>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <input id="cbbSo_BCKhongThucHienSo" class="input-group" style="width:100%; max-width:100000px;" />
                    </div>
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-left:0px; padding-right:5px; text-align:right;">TỪ:</span>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <input id="dateBatDau_BCKhongThucHienSo" class="input-group" style="width:100%; ">
                    </div>
                    <span class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-left:0px; padding-right:5px; text-align:right;">ĐẾN:</span>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <input id="dateKetThuc_BCKhongThucHienSo" class="input-group" style="width:100%; ">
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1" style="padding-left:0px;">
                        <button class="btn btn-primary input-group" id="btnXemBCKhongThucHienSo" style="width:100%;">XEM</button>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align: right;">
                    <div class="col-lg-0 col-md-0 col-sm-1 col-xs-2"></div>
                    <div class="col-lg-12 col-md-12 col-sm-11 col-xs-10">
                        <input type="search" id="txtSearch_BCKhongThucHienSo" class="k-textbox" style="width:100%;  max-width:100000px;" placeholder="Tìm Kiếm" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left:0px; padding-right:5px; text-align:right;">BẾN:</span>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <!--Chọn Bến-->
                        <input id="selectsBen_BCKhongThucHienSo" placeholder="CHỌN BẾN..." style="width:100%; max-width:100000px;">
                        <input id="hf_selectsBen_BCKhongThucHienSo" type="hidden">
                    </div>
                </div>
            </div>
            <hr style="margin-bottom:10px;margin-top:10px;" />
            <div class="row" style="padding-bottom:5px;">
                @*<span> TÌM KIẾM THÔNG TIN CHO SỞ:</span>
                    <strong> <span id="sp_So_Search"></span> </strong>*@
                <span>ĐÃ CHỌN : </span>
                <span id="spanfabric" style="font-weight:bold;">0</span><span> BẾN</span><span id="chitietchon" style="font-weight:bold;"></span>
            </div>
        </div>
    </div>
    <div id="grid_BCKhongThucHienSo"></div>
</div>
@section scripts{
    <!--DataSource list-->
    <script src="~/Scripts/BaoCao/KhongHoatDong/DungChung.js"></script>
    <script>
        var DataDefault = @Html.Raw(Json.Encode(ViewBag.DataDefault));
        var otherElementsHeightThongTinXe = 0;
        //$(window).resize(function() {
        //    var gridElement = $("#grid_BCKhongThucHienSo");
        //    otherElementsHeightThongTinXe = $("#body_dau").height() + $(".navbar-fixed-top").height() + 200;
        //    gridElement.children(".k-grid-content").height($(window).height() - otherElementsHeightThongTinXe);
        //});

        $("#dateBatDau_BCKhongThucHienSo").kendoDatePicker({
            dateInput: true,
            format: "dd/MM/yyyy",
            culture: "vi-VN",
            value: kendo.parseDate(DataDefault.TuNgay, "dd/MM/yyyy"),
        });
        $("#dateKetThuc_BCKhongThucHienSo").kendoDatePicker({
            dateInput: true,
            format: "dd/MM/yyyy",
            culture: "vi-VN",
            value: kendo.parseDate(DataDefault.DenNgay, "dd/MM/yyyy"),
        });

        $("#cbbSo_BCKhongThucHienSo").kendoComboBox({
            dataTextField: "TS_TenTinh",
            dataValueField: "TS_IdTinh_So",
            dataSource: {
                data: @Html.Raw(Json.Encode(ViewBag.LstSo)),
                sort: { field: "TS_IdTinh_So", dir: "asc" }
            },
            filter: "contains",
            suggest: true,
            index: 0
        });
        var combobox = $("#cbbSo_BCKhongThucHienSo").data("kendoComboBox");
        combobox.value(DataDefault.So);

        $("#sp_So_Search").html(combobox.text());

        $("#selectsBen_BCKhongThucHienSo").kendoDropDownList({
            name: "selectsBen_BCKhongThucHienSo",
            dataTextField: "TenBenXe",
            dataValueField: "BX_IdBenXe",
            dataSource: @Html.Raw(Json.Encode(ViewBag.List_Ben)),
            filter: "contains",
            suggest: true,
            template:
                "<input type='checkbox' id='chk_selectsBen_BCKhongThucHienSo_#=data.BX_IdBenXe #' onclick='UpdateIdinHF(this);' value='#=data.BX_IdBenXe #' name='selectsBen_BCKhongThucHienSo' />" +
                    "<label>" +
                    "${ data.TenBenXe }" +
                    "</label>",
            close: onClose,
            change: onChange,
        });
        //set default
        setDefaultDropList("selectsBen_BCKhongThucHienSo", "hf_selectsBen_BCKhongThucHienSo");
        Panel_Title("plTitle_So", "BÁO CÁO KHÔNG THỰC HIỆN", "BÁO CÁO SỞ");
    //<!--Search Event-->

        $("#txtSearch_BCKhongThucHienSo").keyup(function () {
            var selecteditem = $('#txtSearch_BCKhongThucHienSo').val();
            var kgrid = $("#grid_BCKhongThucHienSo").data("kendoGrid");
            selecteditem = selecteditem.toUpperCase();
            var selectedArray = selecteditem.split(" ");
            if (selecteditem) {
                var orfilter = { logic: "or", filters: [] };
                var andfilter = { logic: "and", filters: [] };
                $.each(selectedArray,
                    function (i, v) {
                        if (v.trim() == "") {
                        } else {
                            $.each(selectedArray,
                                function (i, v1) {
                                    if (v1.trim() == "") {
                                    } else {
                                        orfilter.filters.push({ field: "TenBenXe", operator: "contains", value: v1 });
                                        andfilter.filters.push(orfilter);
                                        orfilter = { logic: "or", filters: [] };
                                    }
                                });
                        }
                    });
                kgrid.dataSource.filter(andfilter);
            } else {
                kgrid.dataSource.filter({});
            }
        });
    //<!--Event Click-->
        $('#btnXemBCKhongThucHienSo').on('click',
            function() {
                var TuNgay = kendo.toString($("#dateBatDau_BCKhongThucHienSo").data('kendoDatePicker').value(), "dd/MM/yyyy");
                var DenNgay = kendo.toString($("#dateKetThuc_BCKhongThucHienSo").data('kendoDatePicker').value(), "dd/MM/yyyy");
                var So = $("#cbbSo_BCKhongThucHienSo").data("kendoComboBox").value();

                var options = {
                    type: "POST",
                    url: @Html.Raw(Json.Encode(Url.Action("GetBaoCaoSo", "BaoCaoKhongThucHien"))),
                    data: {
                        So,
                        LstBen: $("#hf_selectsBen_BCKhongThucHienSo").val(),
                        TuNgay,
                        DenNgay
                    },
                    cache: false,
                    dataType: "json",
                    success: function (response) {
                        if (response.status == true) {
                            var grid = $("#grid_BCKhongThucHienSo").data("kendoGrid");
                            dataGrid = new kendo.data.DataSource({
                                data: response.data.DataGrid,
                                pageSize: 150,
                                aggregate: [
                                    { field: "TenBenXe", aggregate: "count" },
                                    { field: "SoLuotXuatBenQuyHoach", aggregate: "sum" },
                                    { field: "TongSoXe", aggregate: "sum" },
                                    { field: "TongTaiTrong", aggregate: "sum" },
                                    { field: "TongSoTuyen", aggregate: "sum" },
                                    { field: "SoChuyenDangKy", aggregate: "sum" },
                                    { field: "SoChuyenKhongThucHien", aggregate: "sum" },
                                ]
                            });
                            grid.setDataSource(dataGrid);
                            grid.dataSource.read();
                            grid.refresh();

                            DataDefault = response.data.DataDefault;
                        }

                    }
                };
                $.ajax(options);
            });

        $("#cbbSo_BCKhongThucHienSo").change(
            function() {
                var cbb = $("#cbbSo_BCKhongThucHienSo").data("kendoComboBox");
                var value = cbb.value();

                var options = {
                    type: "POST",
                    url: @Html.Raw(Json.Encode(Url.Action("GetNhieuBenXe", "BaoCaoKhongThucHien"))),
                    data: {
                        idSo: value
                    },
                    cache: false,
                    dataType: "json",
                    success: function (response) {

                        if (response.status == true){
                            $('input[id*="chk_"]').each(function () {
                                $(this).remove();
                            });

                            $('#hf_selectsBen_BCKhongThucHienSo').val("");
                            $("#selectsBen_BCKhongThucHienSo").kendoDropDownList({
                                name: "selectsBen_BCKhongThucHienSo",
                                dataTextField: "TenBenXe",
                                dataValueField: "BX_IdBenXe",
                                dataSource: response,
                                filter: "contains",
                                suggest: true,
                                template:
                                "<input type='checkbox' id='chk_selectsBen_BCKhongThucHienSo_#=data.BX_IdBenXe #' onclick='UpdateIdinHF(this);' value='#=data.BX_IdBenXe #' name='selectsBen_BCKhongThucHienSo' />" +
                                "<label>" +
                                "${ data.TenBenXe }" +
                                "</label>",
                                close: onClose,
                            });
                            $('input[id*="chk_"]').each(function () {
                                $(this).prop("checked", true);
                                UpdateIdInHiddenField($("#hf_selectsBen_BCKhongThucHienSo").get(0), $(this).val(), true);
                            });
                        }
                    }
                };
                $.ajax(options);
            });

        function troBaoCaoKhongThucHienBen(e) {
            var url = "@Url.Action("BaoCaoBen", "BaoCaoKhongThucHien")"
                + "?Ben=" + $(e).attr("data-idBen")
                + "&So=" + DataDefault.So
                + "&TuNgay=" + DataDefault.TuNgay
                + "&DenNgay=" + DataDefault.DenNgay;
            window.open(url);
            return false;
        }

        $("#grid_BCKhongThucHienSo").kendoGrid({
            sortable: true,
            selectable: "row",
            scrollable: true,
            //height: 500,
            dataSource: {
                data: @Html.Raw(Json.Encode(ViewBag.DataGrid)),
                pageSize: 100,
                aggregate: [
                    { field: "TenBenXe", aggregate: "count" },
                    { field: "SoLuotXuatBenQuyHoach", aggregate: "sum" },
                    { field: "TongSoXe", aggregate: "sum" },
                    { field: "TongTaiTrong", aggregate: "sum" },
                    { field: "TongSoTuyen", aggregate: "sum" },
                    { field: "SoChuyenDangKy", aggregate: "sum" },
                    { field: "SoChuyenKhongThucHien", aggregate: "sum" },
                ]
            },
            pageable: {
                pageSizes: [100, 150, 200, "all"],
                numeric: true,
                info: false
            },
            dataBinding: function () {
                record = 0;
                $('.k-grid-content').height($(window).height() - otherElementsHeightThongTinXe);
            },
            columns: [
                {
                    title: "STT",
                    template: "#= ++record #",
                    width: 45,
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-weight: bold; font-size: 14px; white-space: normal; vertical-align: middle; background: #AEAAAA;"
                    },
                    footerTemplate: "<div style='text-align: right;'><strong>Tổng: </strong> </div>",
                    attributes: { style: "text-align: center;" }
                }, {
                    field: "TenBenXe",
                    title: "BẾN XE",
                    width: 200,
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-weight: bold; font-size: 14px; white-space: normal; vertical-align: middle; background: #AEAAAA;"
                    },
                    template: '<a href="javascript:void(0)" onclick="troBaoCaoKhongThucHienBen(this)" data-idBen="#=BX_IdBenXe#">#=TenBenXe#</a>',
                    attributes: { style: "text-align: left;" },
                    footerTemplate: "<div style='text-align: left;'><strong>#=kendo.toString(count,'n0')#</strong> Bến</div>",
                },
                {
                    field: "LoaiBenXe",
                    title: "LOẠI BẾN",
                    width: 100,
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-weight: bold; font-size: 14px; white-space: normal; vertical-align: middle; background: #AEAAAA;"
                    },
                    attributes: { style: "text-align: right;" },
                   
                },
                {
                    field: "SoLuotXuatBenQuyHoach",
                    title: "CÔNG SUẤT (LƯỢT/NGÀY)",
                    width: 100,
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-weight: bold; font-size: 14px; white-space: normal; vertical-align: middle; background: #AEAAAA;"
                    },
                    footerTemplate: "<div style='text-align: right;'><strong>#=kendo.toString(sum,'n0')#</strong> </div>",
                    format: "{0:n0}",
                    attributes: { style: "text-align: right;" }
                } ,
                {
                    field: "TongSoXe",
                    title: "TỔNG SỐ XE",
                    width: 100,
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-weight: bold; font-size: 14px; white-space: normal; vertical-align: middle; background: #AEAAAA;"
                    },
                    footerTemplate: "<div style='text-align: right;'><strong>#=kendo.toString(sum,'n0')#</strong> </div>",
                    format: "{0:n0}",
                    attributes: { style: "text-align: right;" }
                }, {
                    field: "TongTaiTrong",
                    title: "TỔNG TẢI TRỌNG",
                    width: 100,
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-weight: bold; font-size: 14px; white-space: normal; vertical-align: middle; background: #AEAAAA;"
                    },
                    footerTemplate: "<div style='text-align: right;'><strong>#=kendo.toString(sum,'n0')#</strong> </div>",
                    format: "{0:n0}",
                    attributes: { style: "text-align: right;" }
                }, {
                    field: "TongSoTuyen",
                    title: "TỔNG SỐ TUYẾN",
                    width: 100,
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-weight: bold; font-size: 14px; white-space: normal; vertical-align: middle; background: #AEAAAA;"
                    },
                    footerTemplate: "<div style='text-align: right;'><strong>#=kendo.toString(sum,'n0')#</strong> </div>",
                    format: "{0:n0}",
                    attributes: { style: "text-align: right;" }
                },
                {
                    title: "SỐ CHUYẾN",
                    width: 80,
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-weight: bold; font-size: 14px; white-space: normal; vertical-align: middle; background: #AEAAAA;"
                    },
                    columns: [
                        {
                            field: "SoChuyenDangKy",
                            title: "ĐĂNG KÝ",
                            width: 50,
                            headerAttributes: {
                                "class": "table-header-cell",
                                style: "text-align: center; font-weight: bold; font-size: 14px; white-space: normal; vertical-align: middle; background: #AEAAAA;"
                            },
                            attributes: { style: "text-align: right;" },
                            footerTemplate: "<div style='text-align: right;'><strong>#=kendo.toString(sum,'n0')#</strong> </div>",
                            format: "{0:n0}",
                        },
                        {
                            field: "SoChuyenKhongThucHien",
                            title: "KHÔNG THỰC HIỆN",
                            width: 50,
                            headerAttributes: {
                                "class": "table-header-cell",
                                style: "text-align: center; font-weight: bold; font-size: 14px; white-space: normal; vertical-align: middle; background: #AEAAAA;"
                            },
                            attributes: { style: "text-align: right;" },
                            footerTemplate: "<div style='text-align: right;'><strong>#=kendo.toString(sum,'n0')#</strong> </div>",
                            format: "{0:n0}",
                        },
                    ]
                },
                {
                    field: "TyLeKhongThucHien",
                    title: "TỶ LỆ KHÔNG THỰC HIỆN %",
                    width: 50,
                    headerAttributes: {
                        "class": "table-header-cell",
                        style: "text-align: center; font-weight: bold; font-size: 14px; white-space: normal; vertical-align: middle; background: #AEAAAA;"
                    },
                        format: "{0:n2}",
                        attributes: { style: "text-align: right;" }
                }
            ]
        })
        removeitemperpage();

    </script>
}