@model QuanLyTaiKhoan.WebCore.LoginViewModel

@{
    ViewBag.Title = "Đăng nhập - " + ViewBag.Title;
}

<!DOCTYPE xhtml>
<style>
@@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn {
    border-width: 0;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #37baef;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    *margin-left: .3em;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    box-shadow:
        inset -1px -1px 0 rgba(255, 255, 255, 0.15),
        inset -2px -2px 7px 1px rgba(0, 0, 0, 0.15);
}
.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #37baef;
}
.btn-primary, .btn-primary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}
.btn-primary.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
    background-color: #37baef;
    display:block;
    text-transform: uppercase;
    font-weight: lighter;
}

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

body {
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background-image: url(@Url.Content("~/Content/Assets/DSC_0705.jpg"));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -225px;

    width: 450px;
    height: 250px;

    padding: 0 60px;
    padding-top: 50px;

    background-color: rgba(255, 255, 255, 0.5);
}
.login-header {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -225px 0 0 -225px;

    width: 450px;
    height: 100px;

    padding-top: 15px;

    background-color: rgba(1, 149, 201, 0.5);
}
.login-header * {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #fff;
}

input {
	width: 100%;
	margin-bottom: 20px;
	background: rgba(255,255,255,0.5);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #000;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border-radius: 4px;
    border: solid 1px #000;
}

</style>

<script type="text/javascript" language="javascript">
    var msg = @Html.Raw(Json.Encode(Model.Message));
    if (!!msg) {
        alert(msg);
    }
</script>

<div class="login">
    @*<div class="login-header">
        <h4>Hệ thống</h4>
        <h3>Quản lý vận tải đường bộ</h3>
    </div>*@
    <form method="post">
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>@ViewBag.Title</title>
            <!-- Tell the browser to be responsive to screen width -->
            <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
            <!-- Bootstrap 3.3.7 -->
            <link rel="stylesheet" href="~/resource/bower_components/bootstrap/dist/css/bootstrap.min.css">
            <!-- Font Awesome -->
            <link rel="stylesheet" href="~/resource/bower_components/font-awesome/css/font-awesome.min.css">
            <!-- Ionicons -->
            <link rel="stylesheet" href="~/resource/bower_components/Ionicons/css/ionicons.min.css">
            <!-- Theme style -->
            <link rel="stylesheet" href="~/resource/dist/css/AdminLTE.min.css">
            <!-- iCheck -->
            <link rel="stylesheet" href="~/resource/plugins/iCheck/square/blue.css">

            <link rel="stylesheet" href="~/resource/dist/css/MyCss.min.css">
            <!-- Google Font -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        </head>
        <body class="hold-transition login-page LoginBG">
            <div class="login-box">
                <div class="login-logo">
                    <b>HỆ THỐNG</b> <br>QUẢN LÝ BẾN XE
                </div>
                <!-- /.login-logo -->
                <div class="login-box-body OpacityLoginBG">
                    <p class="login-box-msg">Đăng nhập với tài khoản hệ thống</p>
                    <p class="login-box-msg">@ViewBag.mes</p>

                    <div class="form-group has-feedback">
                        <input type="text-center" class="form-control" placeholder="Tài khoản" name="u_name">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="Mật khẩu" name="u_pass">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox"> Nhớ tài khoản
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Đăng nhập</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    <a href="#">Liên hệ lấy lại mật khẩu</a><br>

                    <!-- <a href="register.html" class="text-center">Register a new membership</a> -->

                </div>
                <!-- /.login-box-body -->
            </div>
            <!-- /.login-box -->
            <!-- jQuery 3 -->
            <script src="~/resource/bower_components/jquery/dist/jquery.min.js"></script>
            <!-- Bootstrap 3.3.7 -->
            <script src="~/resource/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <!-- iCheck -->
            <script src="~/resource/plugins/iCheck/icheck.min.js"></script>
            <script>
                $(function () {
                    $('input').iCheck({
                        checkboxClass: 'icheckbox_square-blue',
                        radioClass: 'iradio_square-blue',
                        increaseArea: '20%' // optional
                    });
                });
            </script>
        </body>
        @*<input type="text" name="@Model.UsernameField" value="@Model.UsernameValue" placeholder="Username" required="required" />
        <input type="password" name="@Model.PasswordField" value="@Model.PasswordValue" placeholder="Password" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Đăng nhập</button>*@
    </form>
</div>
